$main-bg-color: rgb(246, 247, 252);
$binary-section-color: #fff;
$js-section-color: #f7cf69;
$php-section-color: #8893c0;
$qa-section-color: #52bf77;
$java-section-color: #e12b4c;
$net-section-color: #642077;
$event-section-color: #2d99fe;
$blog-section-color: #0443a3;
$contact-section-color: #00265f;
$binary-section-description-color: #aacdc4;
$error-message-color: rgb(175, 53, 53);
$success-message-color: #50ac67;
$warning-message-color:rgb(255, 205, 66);
$social-networks-color:#111;
$social-networks-hover-color:rgb(3, 168, 245);
