@mixin sectionHeader($size, $weight, $color) {    
    font-size: $size;
    font-weight: $weight;
    color: $color;
}

@mixin sectionCardFlex($display, $align, $justify) { 
    width: 100%;
    height: 100%;   
    display: $display;
    align-items: $align;
    justify-content: $justify;
}

@mixin sectionAnimation($animationName, $duration) { 
    animation-name: $animationName;
    animation-duration: $duration;    
    animation-fill-mode: both;
}