@import './_colorVariables';

.error-contsiner{
    position: absolute;
    z-index: 99;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    margin: 0 10px 10px 0;
    text-align: left;
}

.error-message-wrap{    
    padding: 10px;
    margin-top: 10px;
    opacity: 0.90;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 200px;
}

.message-wrap{
    margin-left: 10px;
}
.error-message{
    background-color: $error-message-color;
}
.success-message{
    background-color: $success-message-color;
}
.warning-message{
    display: none;
    background-color: $warning-message-color;
}