.header-wrap{
    position: sticky;
    top: 0;
    width: 100%;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    z-index: 500;
}

.header-logo{
    width: 150px;
    height: auto;
    margin-left: 5%;
}

.header-menu{
    min-width: 85px;
    margin-right: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.notification-logo{
    cursor: pointer;

    &:hover{
        filter: brightness(70%);
    }
}

.open-menu{
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;   
    cursor: pointer;  
    opacity: 0;

    &:checked ~ .drop-down-menu{
        display: flex;
    }
}

.user-name{       
    border-radius: 50%;
    background-color: coral;
    min-width: 40px;
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 1.4rem;
    color: #fff;

    &:hover{
        background-color: rgb(235, 123, 82);
    }
}

.drop-down-menu{
    display: none;    
    flex-direction: column;
    min-width: 220px;
    min-height: 100px;
    background-color: #fff;
    padding: 15px 15px 0 15px;
    justify-content: space-around;
    position: absolute;    
    top: 44px;
    right: 0px;
    color: black;
    font-size: 1rem;
    font-family: sans-serif;
    box-shadow: 3px 2px 8px -1px rgba(150,145,150,1);
}

.user-profile-wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid grey;
}

.profile-photo{
    height: 60px;
}

.drop-down-menu-link{
    text-decoration: none;
    color: #000000;

    &:hover{
        color: rgb(25, 153, 238);
    }
}

.menu-navigations{
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.user-description{
    display: flex;
    height: 70px;
    flex-direction: column;
    justify-content: space-around;
    align-items: baseline;
    color: grey;    
    padding-bottom: 5px;
    text-align: center;
}

.user-profesion{
    color: #3b7d3b;
    font-size: 0.8rem;
}

.description-user-name{
    font-size: 1.1rem;
    color: #111;
}

.user-email{
    font-size: 0.8rem;
    font-weight: 100;
    color: #127deb;
}