@mixin sectionHeader($size, $weight, $color) {    
    font-size: $size;
    font-weight: $weight;
    color: $color;
}

@media screen and (max-width: 980px) {
    .main-wrap{        
        grid-template: 
            "binary binary js js media" 50%
            "java java java php php" 25%
            "qa qa qa net net" 25%            
            /20% 22% 7%
        ;
        font-family: sans-serif;
    }
    
    .php-section{        
        h2{ 
            @include sectionHeader(3.5rem, 300, #111);            
        }
    }
    
    .qa-section{       
        h2{ @include sectionHeader(3.5rem, 400, #fff) }
    }
    
    .java-section{        
        h2{ @include sectionHeader(3.5rem, 400, #fff) }
    }
    
    .net-section{        
        h2{ @include sectionHeader(3.5rem, 400, #fff) }
    }
    
}