@import './colorVariables';
@import './animations.scss';
@import './sectionMixin';

.main-wrap{
    width: 90%;
    height: 100%;
    margin-top: 50px;    
    display: grid;
    grid-template: 
        "binary js  php php" 12%
        "binary js  php php" 12%
        "binary js  php php" 12%
        "binary js  net media" 12%
        "qa js net media" 12%
        "qa js net media" 12%
        "qa java net media" 24%
        /26% 25% 33%
    ;
    font-family: sans-serif;
}

.binary-section{
    position: relative;
    grid-area: binary;    
    background-color: $binary-section-color;
    
    .card-description{
        @include sectionCardFlex(flex, center, center);
        opacity: 0;
        background-color: $binary-section-description-color;    
    }

    &:hover .binary-section-logo{
        display: none;        
    }
    
    &:hover .card-description{
        @include sectionAnimation(flip-down, 1s);        
        opacity: 1;       
    }    
}

.binary-section-logo{
    position: absolute;
    z-index: 1;
    @include sectionCardFlex(flex, center, center);
}

.binary-section-btn{        
    padding: 10px 30px;
    border: none;
    font-size: 1.5rem;
    border-radius: 5px;
    background-color: #32b5fb;
    color: #fff;

    &:hover{
        background-color: #28698b;
    }
}

.card-description{
    @include sectionCardFlex(flex, flex-end, flex-end);
    background-color: #fff;
}

.js-section{    
    grid-area: js;      
    position: relative;

    .card-description{        
        @include sectionCardFlex(flex, flex-start, center);
        @include sectionHeader(1.2rem, 700, #111);       
    }

    p{
        margin: 10px;
    }
    
    h2{
        position: absolute;
        z-index: 1;
        @include sectionCardFlex(flex, flex-end, flex-end);
        @include sectionHeader(7rem, 700, #111);
        background-color: $js-section-color; 
        margin-right: 10px;
    }

    &:hover h2{@include sectionAnimation(flip-up, 1s)}    
}

.php-section{    
    grid-area: php;
    position: relative;

    .card-description{
        @include sectionCardFlex(flex, flex-start, center);
        @include sectionHeader(1.5rem, 700, #111);       
    }

    p{
        margin: 10px;
    }

    h2{ 
        @include sectionHeader(7rem, 300, #111);
        @include sectionCardFlex(flex, center, center);
        position: absolute;
        z-index: 1;
        font-style: italic;
        z-index: 100;
        background-color: $php-section-color;
    }

    &:hover h2{@include sectionAnimation(slideDown, 0.5s);}
}

.qa-section{
    grid-area: qa;
    position: relative;

    h2{ 
        @include sectionHeader(7rem, 400, #fff);        
        @include sectionCardFlex(flex, center, center);
        background-color: $qa-section-color;
        position: absolute;
    }

    .card-description{
        @include sectionCardFlex(flex, flex-end, center);
        @include sectionHeader(1.5rem, 700, #111);       
    }

    p{
        margin: 10px;
    }

    &:hover h2{@include sectionAnimation(fadeOutAndRight, 1s);}
}

.java-section{
    position: relative;
    grid-area: java;

    .card-description{
        @include sectionCardFlex(flex, center, center);
        @include sectionHeader(1.1rem, 700, #111);       
    }
    
    p{
        margin: 10px;
    }

    h2{ 
        position: absolute; 
        z-index: 1;
        @include sectionHeader(3.8rem, 400, #fff);
        @include sectionCardFlex(flex, center, center);
        background-color: $java-section-color;
    }

    &:hover h2{@include sectionAnimation(zoomOutAndUp, 1s);}
}

.net-section{
    position: relative;
    grid-area: net; 
    
    .card-description{
        @include sectionCardFlex(flex, flex-start, center);
        @include sectionHeader(1.1rem, 700, #111);       
    }
    
    p{
        margin: 10px;
    }

    h2{
        position: absolute;
        z-index: 1;
        @include sectionHeader(5rem, 400, #fff); 
        @include sectionCardFlex(flex, center, center);
        background-color: $net-section-color;
    }

    &:hover h2{
        @include sectionAnimation(slideOutLeft, 1s);
    }

    &:hover .card-description{        
        animation-name: slideInDown;        
        animation-duration: 1s;       
        animation-fill-mode: both;
    }
}

.media-wrap{
    grid-area: media;   
    display: grid;
    grid-template-rows: 36% 36% 28%;
}

.event-section{
    position: relative; 
    
    h2{
        position: absolute;
        z-index: 1;
        @include sectionCardFlex(flex, center, center); 
        @include sectionHeader(1.4rem, 100, #fff); 
        background-color: $event-section-color;        
    }

    &:hover h2{
        @include sectionAnimation(slideOut, 1s);
    }
}

.card-description-content{    
    height: -webkit-fill-available;
    margin: 5px;
    overflow-y: scroll;
}

.blog-section{
    position: relative;    
    
    h2{ 
        position: absolute;
        z-index: 1;
        @include sectionCardFlex(flex, center, center);
        @include sectionHeader(1.4rem, 100, #fff);
        background-color: $blog-section-color;
    }

    &:hover h2{   
        @include sectionAnimation(zoomOut, 1s);
    }

}

.contact-section{
    position: relative;

    .card-description{        
        @include sectionCardFlex(flex, center, space-around);         
    }

    h2{ 
        position: absolute;
        z-index: 1;
        @include sectionCardFlex(flex, center, center);
        @include sectionHeader(1.4rem, 100, #fff);
        background-color: $contact-section-color;
    }

    &:hover h2{
        @include sectionAnimation(flipRight, 1s);
    }
}

.social-networks{
    padding: 5px;
    border-radius: 25px;
    background-color: $social-networks-color;
    border: none;

    &:hover{
        background-color: $social-networks-hover-color;
    }
}