.pull-down {
  animation-name: pullDown;
  -webkit-animation-name: pullDown;
  animation-duration: 0.3s;
  -webkit-animation-duration: 0.3s;
  animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;
  transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  -webkit-transform-origin: 50% 0%;
}

@keyframes pullDown {
  0% {
    transform: scaleY(0);
  }
  10% {
    transform: scaleY(0.1);
  }
  20% {
    transform: scaleY(0.2);
  }
  30% {
    transform: scaleY(0.3);
  }
  40% {
    transform: scaleY(0.4);
  }
  50% {
    transform: scaleY(0.5);
  }
  60% {
    transform: scaleY(0.6);
  }
  70% {
    transform: scaleY(0.7);
  }
  80% {
    transform: scaleY(0.8);
  }
  90% {
    transform: scaleY(0.9);
  }
  100% {
    transform: scaleY(1);
  }
}
@-webkit-keyframes pullDown {
  0% {
    -webkit-transform: scaleY(0);
  }
  10% {
    -webkit-transform: scaleY(0.1);
  }
  20% {
    -webkit-transform: scaleY(0.2);
  }
  30% {
    -webkit-transform: scaleY(0.3);
  }
  40% {
    -webkit-transform: scaleY(0.4);
  }
  50% {
    -webkit-transform: scaleY(0.5);
  }
  60% {
    -webkit-transform: scaleY(0.6);
  }
  70% {
    -webkit-transform: scaleY(0.7);
  }
  80% {
    -webkit-transform: scaleY(0.8);
  }
  90% {
    -webkit-transform: scaleY(0.9);
  }
  100% {
    -webkit-transform: scaleY(1);
  }
}
@keyframes flip-up {
  0% {
    transform: perspective(400px);
  }
  30% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    opacity: 1;
  }
  100% {
    transform: perspective(400px) rotate3d(1, 0, 0, 190deg);
    opacity: 0;
    display: none;
  }
}
@keyframes flip-down {
  0% {
    transform: perspective(400px) rotate3d(1, 0, 0, 190deg);
    transition-timing-function: ease-in;
    opacity: 0;
  }
  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transition-timing-function: ease-in;
  }
  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }
  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }
  100% {
    transform: perspective(400px);
  }
}
@keyframes fadeOutAndRight {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
    display: none;
  }
}
@keyframes slideDown {
  0% {
    transform: translateY(0%) scaleX(1);
  }
  30% {
    transform: translateY(0%) scaleX(0.9);
  }
  40% {
    transform: translateY(0%) scaleX(0.8);
  }
  50% {
    transform: translateY(0%) scaleX(0.7);
  }
  60% {
    transform: translateY(0%) scaleX(0.6);
  }
  70% {
    transform: translateY(0%) scaleX(0.5);
  }
  80% {
    transform: translateY(2%) scaleX(0.4);
  }
  90% {
    transform: translateY(-8%) scaleX(0.1);
  }
  100% {
    transform: translateY(100%) scaleX(0);
    display: none;
  }
}
@keyframes zoomOutAndUp {
  40% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
  }
  100% {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -2000px, 0);
  }
}
@keyframes slideOutLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    display: none;
    opacity: 0;
    transform: translateX(-100%);
  }
}
@keyframes slideInDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
@keyframes slideOut {
  0% {
    transform: translateY(0);
  }
  100% {
    visibility: hidden;
    transform: translateY(-100%);
  }
}
@keyframes zoomOut {
  40% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(42px, 0, 0);
  }
  100% {
    opacity: 0;
    transform: scale(0.1) translate3d(-2000px, 0, 0);
    display: none;
  }
}
@keyframes flipRight {
  0% {
    transform: perspective(400px);
  }
  30% {
    transform: perspective(400px) rotate3d(0, 1, 0, -15deg);
    opacity: 1;
  }
  100% {
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    opacity: 0;
    display: none;
  }
}

/*# sourceMappingURL=animations.css.map */
