.error-contsiner {
  position: absolute;
  z-index: 99;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  margin: 0 10px 10px 0;
  text-align: left;
}

.error-message-wrap {
  padding: 10px;
  margin-top: 10px;
  opacity: 0.9;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 200px;
}

.message-wrap {
  margin-left: 10px;
}

.error-message {
  background-color: #af3535;
}

.success-message {
  background-color: #50ac67;
}

.warning-message {
  display: none;
  background-color: #ffcd42;
}

/*# sourceMappingURL=errors.css.map */
