@media screen and (max-width: 980px) {
  .main-wrap {
    grid-template: "binary binary js js media" 50% "java java java php php" 25% "qa qa qa net net" 25%/20% 22% 7%;
    font-family: sans-serif;
  }

  .php-section h2 {
    font-size: 3.5rem;
    font-weight: 300;
    color: #111;
  }

  .qa-section h2 {
    font-size: 3.5rem;
    font-weight: 400;
    color: #fff;
  }

  .java-section h2 {
    font-size: 3.5rem;
    font-weight: 400;
    color: #fff;
  }

  .net-section h2 {
    font-size: 3.5rem;
    font-weight: 400;
    color: #fff;
  }
}

/*# sourceMappingURL=main-mobile.css.map */
