.pull-down {
  animation-name: pullDown;
  -webkit-animation-name: pullDown;
  animation-duration: 0.3s;
  -webkit-animation-duration: 0.3s;
  animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;
  transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  -webkit-transform-origin: 50% 0%;
}

@keyframes pullDown {
  0% {
    transform: scaleY(0);
  }
  10% {
    transform: scaleY(0.1);
  }
  20% {
    transform: scaleY(0.2);
  }
  30% {
    transform: scaleY(0.3);
  }
  40% {
    transform: scaleY(0.4);
  }
  50% {
    transform: scaleY(0.5);
  }
  60% {
    transform: scaleY(0.6);
  }
  70% {
    transform: scaleY(0.7);
  }
  80% {
    transform: scaleY(0.8);
  }
  90% {
    transform: scaleY(0.9);
  }
  100% {
    transform: scaleY(1);
  }
}
@-webkit-keyframes pullDown {
  0% {
    -webkit-transform: scaleY(0);
  }
  10% {
    -webkit-transform: scaleY(0.1);
  }
  20% {
    -webkit-transform: scaleY(0.2);
  }
  30% {
    -webkit-transform: scaleY(0.3);
  }
  40% {
    -webkit-transform: scaleY(0.4);
  }
  50% {
    -webkit-transform: scaleY(0.5);
  }
  60% {
    -webkit-transform: scaleY(0.6);
  }
  70% {
    -webkit-transform: scaleY(0.7);
  }
  80% {
    -webkit-transform: scaleY(0.8);
  }
  90% {
    -webkit-transform: scaleY(0.9);
  }
  100% {
    -webkit-transform: scaleY(1);
  }
}
@keyframes flip-up {
  0% {
    transform: perspective(400px);
  }
  30% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    opacity: 1;
  }
  100% {
    transform: perspective(400px) rotate3d(1, 0, 0, 190deg);
    opacity: 0;
    display: none;
  }
}
@keyframes flip-down {
  0% {
    transform: perspective(400px) rotate3d(1, 0, 0, 190deg);
    transition-timing-function: ease-in;
    opacity: 0;
  }
  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transition-timing-function: ease-in;
  }
  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }
  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }
  100% {
    transform: perspective(400px);
  }
}
@keyframes fadeOutAndRight {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
    display: none;
  }
}
@keyframes slideDown {
  0% {
    transform: translateY(0%) scaleX(1);
  }
  30% {
    transform: translateY(0%) scaleX(0.9);
  }
  40% {
    transform: translateY(0%) scaleX(0.8);
  }
  50% {
    transform: translateY(0%) scaleX(0.7);
  }
  60% {
    transform: translateY(0%) scaleX(0.6);
  }
  70% {
    transform: translateY(0%) scaleX(0.5);
  }
  80% {
    transform: translateY(2%) scaleX(0.4);
  }
  90% {
    transform: translateY(-8%) scaleX(0.1);
  }
  100% {
    transform: translateY(100%) scaleX(0);
    display: none;
  }
}
@keyframes zoomOutAndUp {
  40% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
  }
  100% {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -2000px, 0);
  }
}
@keyframes slideOutLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    display: none;
    opacity: 0;
    transform: translateX(-100%);
  }
}
@keyframes slideInDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
@keyframes slideOut {
  0% {
    transform: translateY(0);
  }
  100% {
    visibility: hidden;
    transform: translateY(-100%);
  }
}
@keyframes zoomOut {
  40% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(42px, 0, 0);
  }
  100% {
    opacity: 0;
    transform: scale(0.1) translate3d(-2000px, 0, 0);
    display: none;
  }
}
@keyframes flipRight {
  0% {
    transform: perspective(400px);
  }
  30% {
    transform: perspective(400px) rotate3d(0, 1, 0, -15deg);
    opacity: 1;
  }
  100% {
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    opacity: 0;
    display: none;
  }
}
.main-wrap {
  width: 90%;
  height: 100%;
  margin-top: 50px;
  display: grid;
  grid-template: "binary js  php php" 12% "binary js  php php" 12% "binary js  php php" 12% "binary js  net media" 12% "qa js net media" 12% "qa js net media" 12% "qa java net media" 24%/26% 25% 33%;
  font-family: sans-serif;
}

.binary-section {
  position: relative;
  grid-area: binary;
  background-color: #fff;
}
.binary-section .card-description {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  background-color: #aacdc4;
}
.binary-section:hover .binary-section-logo {
  display: none;
}
.binary-section:hover .card-description {
  animation-name: flip-down;
  animation-duration: 1s;
  animation-fill-mode: both;
  opacity: 1;
}

.binary-section-logo {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.binary-section-btn {
  padding: 10px 30px;
  border: none;
  font-size: 1.5rem;
  border-radius: 5px;
  background-color: #32b5fb;
  color: #fff;
}
.binary-section-btn:hover {
  background-color: #28698b;
}

.card-description {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  background-color: #fff;
}

.js-section {
  grid-area: js;
  position: relative;
}
.js-section .card-description {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 700;
  color: #111;
}
.js-section p {
  margin: 10px;
}
.js-section h2 {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: 7rem;
  font-weight: 700;
  color: #111;
  background-color: #f7cf69;
  margin-right: 10px;
}
.js-section:hover h2 {
  animation-name: flip-up;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.php-section {
  grid-area: php;
  position: relative;
}
.php-section .card-description {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 700;
  color: #111;
}
.php-section p {
  margin: 10px;
}
.php-section h2 {
  font-size: 7rem;
  font-weight: 300;
  color: #111;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
  font-style: italic;
  z-index: 100;
  background-color: #8893c0;
}
.php-section:hover h2 {
  animation-name: slideDown;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

.qa-section {
  grid-area: qa;
  position: relative;
}
.qa-section h2 {
  font-size: 7rem;
  font-weight: 400;
  color: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #52bf77;
  position: absolute;
}
.qa-section .card-description {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 700;
  color: #111;
}
.qa-section p {
  margin: 10px;
}
.qa-section:hover h2 {
  animation-name: fadeOutAndRight;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.java-section {
  position: relative;
  grid-area: java;
}
.java-section .card-description {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
  font-weight: 700;
  color: #111;
}
.java-section p {
  margin: 10px;
}
.java-section h2 {
  position: absolute;
  z-index: 1;
  font-size: 3.8rem;
  font-weight: 400;
  color: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e12b4c;
}
.java-section:hover h2 {
  animation-name: zoomOutAndUp;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.net-section {
  position: relative;
  grid-area: net;
}
.net-section .card-description {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  font-size: 1.1rem;
  font-weight: 700;
  color: #111;
}
.net-section p {
  margin: 10px;
}
.net-section h2 {
  position: absolute;
  z-index: 1;
  font-size: 5rem;
  font-weight: 400;
  color: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #642077;
}
.net-section:hover h2 {
  animation-name: slideOutLeft;
  animation-duration: 1s;
  animation-fill-mode: both;
}
.net-section:hover .card-description {
  animation-name: slideInDown;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.media-wrap {
  grid-area: media;
  display: grid;
  grid-template-rows: 36% 36% 28%;
}

.event-section {
  position: relative;
}
.event-section h2 {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 100;
  color: #fff;
  background-color: #2d99fe;
}
.event-section:hover h2 {
  animation-name: slideOut;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.card-description-content {
  height: -webkit-fill-available;
  margin: 5px;
  overflow-y: scroll;
}

.blog-section {
  position: relative;
}
.blog-section h2 {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 100;
  color: #fff;
  background-color: #0443a3;
}
.blog-section:hover h2 {
  animation-name: zoomOut;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.contact-section {
  position: relative;
}
.contact-section .card-description {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.contact-section h2 {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 100;
  color: #fff;
  background-color: #00265f;
}
.contact-section:hover h2 {
  animation-name: flipRight;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.social-networks {
  padding: 5px;
  border-radius: 25px;
  background-color: #111;
  border: none;
}
.social-networks:hover {
  background-color: #03a8f5;
}

/*# sourceMappingURL=main.css.map */
